/* #d2cfc6; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

p {
  font-size: 1.2rem
}

.storageDiagram {
  float: right;
  width: clamp(300px, 35%, 350px);
  margin: 15px;
  border-radius: 20px;
}

.clear {
  clear: both;
  /* keeps clear of floats */
}

.codeInline {

  font-family: "Roboto Mono", monospace;
  background-color: #d2cfc6;
}

.codeContainer {
  margin: 19px 0px 19px 0px;
}

.codeContainer>.miniHeader {
  display: block;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 10px;
}


.codeContainer>.code {
  /* display: block; */
  width: max-content;
  font-family: "Roboto Mono", monospace;
  background-color: #d2cfc6;
  border-radius: 3px;
  padding: 10px;
  line-height: 2;
  word-break: keep-all;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.desc {
  margin-top: 10px;
  display: flex;
  gap: 4px;
}

.descText {
  color: #9a9274;
  flex: 0 0 auto;
}

.sideLine {
  flex: 0 0 3px;
  background-color: #4B4633;
}
