body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock {
  border-radius: 50%;
  border: 10px black solid;
  min-width: 500px;
  aspect-ratio: 1/1;

  background-color: darkgrey;
}

.clockFace {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}


.hand {

  position: absolute;
  right: 50%;
  background-color: black;
  border-radius: 10px;

  rotate: 90deg;
  transform-origin: 100%;

  transition: rotate 100ms cubic-bezier(0.71, 0.33, 0.65, 1.51);
}

.secondHand {

  width: 45%;
  height: 7px;
}

.minuteHand {
  width: 40%;
  height: 12px;

  background-color: darkslategray;
}

.hourHand {
  width: 30%;
  height: 16px;

  background-color: midnightblue;
}
