:root {
  --color-yellow: #ffd100;
  --color-light-black: #333533;
  --color-dark-black: #202020;
  --color-dark-white: #d6d6d6;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--color-light-black);
  color: var(--color-light-black);
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 156, 1) 55%, rgba(83, 237, 111, 1) 98%);
}

body {
  padding: 50px;

}

.gridCenterer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px
}

.title {
  text-align: center;
}

.container {


  width: clamp(300px, 50%, 500px);
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;

}

.item {
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
  height: auto;

  background-color: var(--color-dark-white);
  border: 5px var(--color-dark-black) solid;
  box-shadow: 0px 0px 6px #000 inset;
  box-shadow: 0px 0px 6px #000;
  border-radius: 15%;
  padding: 5px;
}

#mainButton {
  font-family: "Rockwell", sans-serif;
  font-size: 1rem;

  min-width: 100px;
  min-height: 50px;
  background-color: var(--color-yellow);
  border: 4px var(--color-dark-black) solid;
  border-radius: 15px;
}
