html {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;

}

.gridCenterer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px
}

.title {
  text-align: center;
}

.container {


  width: clamp(300px, 50%, 500px);
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;

}

.item {
  overflow: hidden;
  font-size: 1.5rem;
  text-align: center;
  height: auto;

  background-color: darkseagreen;
  border: 3px darkred solid;
  border-radius: 15%;
  padding: 5px;
}
