@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}


/* blind mode (not to be seen looking at those goofy ahh pictures) */
/* img { */
/*   opacity: 10%; */
/* } */

/* //////////////////////////////////// */

section {
  border-top: solid 10px #358c13;
  border-bottom: solid 10px #13648c;
}

p {
  font-size: 1.5rem;
}

.blueText {
  color: rgb(56, 103, 255);
  text-decoration: underline rgb(56, 103, 255);
}

.cursive {
  font-family: "Brush Script MT", cursive;
  font-size: 1.2em;
}

.roman {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.redText {
  color: #c71818;
}

.borderPurple {
  border: dashed #8f16da 6px;
  border-radius: 12px;
}

.whiteSpace {
  height: 400px;
  display: block;
  margin: 50px;
}

.highlight {
  border-radius: 1em;
  border: rgb(200, 200, 0) 8px solid;
  background-color: #fffc6690;

  padding: 14px 14px;
}

/* //////////////////////////////////// */

.floats {
  color: #d9c59f;
  /* makes dark theme */
  background-color: #877c7c;
  background-image: url("../images/background/droplets_mirror.png");
  background-blend-mode: multiply;
  background-size: 100%;
  background-repeat: repeat-y;
  /* the bottom of the page not having background is intended. there will be different sections with different background. (for full page background, move it to body element) */


  padding: 10px;
}

.floats>h2>p {
  text-align: center;
  border: solid 5px blue;
  border-radius: 10px;
  width: max-content;
  margin: auto;
  padding: 5px;
  background-color: #c71818;
  font-size: 1.5em;
}


.lebron {
  /* width: 25vw;
  height: 25vw; */
  width: clamp(200px,
      25vw,
      800px);
  /* it will follow 25vw until but will not be smaller than 200px */
  box-shadow: 0 0 20px 20px #fff;
  border-radius: 20px;
}

.blackAvatar {
  /* width: 25vw;
  height: 25vw; */
  width: clamp(200px, 25vw, 800px);
  box-shadow: 0 0 20px 20px #665445;
  border-radius: 1em;
}

.floatLeft {
  float: left;
  margin: 2em 2em 2em 0em;
}

.floatRight {
  float: right;
  margin: 2em 0em 2em 2em;
}

.clearBoth {
  clear: both;
  /* makes the text not wrap around float image. */
}

.clearLeft {
  clear: left;
  /* makes the text not wrap around float images on the left */
}

.clearRight {
  clear: right;
  /* makes the text not wrap around float images on the right */
}

/* //////////////////////////////////// */

.columns {

  padding: 10px;

  font-family: "Archivo Black", sans-serif;
  background-image: url("../images/background/clouds_blue.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

.columns h2 {
  text-align: center;
  font-size: 3em;
  margin: 1rem 0;
  background-color: #FE7E22;
  border-radius: 10px;
  border: groove 16px #040;
}

ul {
  font-size: 1.3em;
}

.columnsMain {
  columns: 3 300px;
  /* 3 columns with minimum of 300px each if not, it will lower column number */
  column-rule: 5px solid #1657da;
}

.columnImage {
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 20px;
}



/* ///////////////////////////////// */

.position {
  background-image: url("../images/background/clouds_colorful_mirror.png");
  background-size: 100%;
  background-repeat: repeat-y;

  --p: 10px;
  padding: var(--p);
  /* padding-bottom: 0; */


  font-family: "Mozilla Headline", sans-serif;

  position: relative;
}

.position h1 {

  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 3rem; */
  font-size: clamp(1rem, 10vw, 3rem);


  margin-top: calc(-1 * var(--p));
  margin-bottom: 0em;
  margin-left: calc(-1 * var(--p));
  width: calc(100% + (2 * var(--p)));
  /* 100% of the parents body and also 20px for parents padding so it fills the screen
   * (100vw doesn't work because it counts the scrollbar and therefore overflows) */

  padding-top: 6px;
  /* because the text was right at the top of the element for some reason and it looked back */

  position: sticky;
  bottom: 0px;

  background-image: url("../images/background/marble-mono-texture.jpg");
  background-color: #83f5f7;
  background-blend-mode: multiply;
  background-size: 105%;
  background-position: 0% 20%;
}

.position ul {
  font-size: 1.5rem;
}

.position code {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  font-size: 0.9em;

}

.fixedCat {
  position: fixed;
  right: 10px;
  bottom: 3rem;

  --fixedcat-width: clamp(6rem, 20vw, 14rem);

  z-index: 1;
}

.fixedCat img {
  width: var(--fixedcat-width);
  border-radius: 1000rem;


}

.fixedCatTitle {
  font-size: calc(var(--fixedcat-width) / 15);
  /* keeps the size of the text relative to the size of the cat */


  text-align: center;

  background-color: azure;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* center it horizontally */
  bottom: 20px;
}

.position ul {
  position: relative;
}

.kevinCat {
  position: absolute;
  top: -24px;
  left: 14rem;
  width: 70px;

  border-radius: 35px;
  transform: rotate(30deg);

  opacity: 85%;

}
