@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #4B4632;
}

html {
  background-color: #F8F4E6;
}

body {

  margin: 0;
  padding: 1rem;

  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  /* scales with device */

}

p {
  font-size: 1rem;
}

h1 {
  color: #4B4632;
  font-size: clamp(2rem, 10vw, 4rem);
  font-family: "Saira", sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0rem;
  line-height: clamp(2rem, 10vw, 4rem);
}

h2 {
  font-size: 1.8rem;
  margin: 0px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding-left: 20px;
}


.statement {
  color: #4B4632;
  font-family: "Noto kufi arabic", sans-serif;
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
  margin-top: 0
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  justify-content: center;
}

.item {
  /* background-color: #E3DCC3; */
  border-radius: 20px;
  border: #4B4632 3px solid;

  --p: 10px;
  padding: var(--p);

  flex: 0 1 400px;

  width: min-content;
  min-width: 300px;
}

.item p {
  font-size: inherit;
  margin: 0;
}

hr {
  width: calc(100% + (2 * var(--p)));
  margin-left: calc(-1 * var(--p));

  border: #4B4632 1.5px solid;
}

/* section { */
/*   background-color: #E3DCC3; */
/*   color: #4B4632; */
/* } */
