:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #e41e5a;
  --clr-primary-a10: #eb476a;
  --clr-primary-a20: #f1647b;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

html {
  background-color: #222;
  color: #fff;

}

body {
  margin: 0px;
}

header {
  padding: 1px 1px 1px 20px;
  background-color: var(--clr-surface-a20)
}

main {
  padding: 20px;
}

.todo {
  margin: 20px 0px 20px 0px;
  font-size: 2.5rem;

  display: flex;
  align-items: center;
}

.todoCheckBox {
  /* display: inline-block; */
  flex: 0 0 2rem;

  margin-right: 1rem;

  height: 2rem;
  width: 2rem;
  /* background-color: var(--clr-light-a0); */
  border: 3px solid var(--clr-light-a0);
  border-radius: 6px;
}

.todoInputTag {
  appearance: none;
  outline: none;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  background-color: hsla(0, 0%, 0%, 0%);
  border: none;

  /* min-width stops it from acting weird by not allowing it to go smaller than min-content  */
  min-width: 0;
  flex: 1 1 100px;
}
